{% extends "base.html" %}
{% block content %}
<h3>Nutrition Intake Summary:</h3>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity (g)</th>
            <th>Calories (Kcal)</th>
            <th>Proteins (g)</th>
            <th>Fats (g)</th>
            <th>Sodium (mg)</th>
            <th>Fiber (g)</th>
            <th>Carbs (g)</th>
            <th>Sugar (g)</th>
        </tr>
    </thead>
    <tbody>
        {% for item, quantity, item_info in item_details %}
        <tr>
            <td>{{ item }}</td>
            <td>{{ quantity }}</td>
            <td>{{ item_info.Calories }}</td>
            <td>{{ item_info.Proteins }}</td>
            <td>{{ item_info.Fats }}</td>
            <td>{{ item_info.Sodium }}</td>
            <td>{{ item_info.Fiber }}</td>
            <td>{{ item_info.Carbs }}</td>
            <td>{{ item_info.Sugar }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th>{{ totals.Calories }}</th>
            <th>{{ totals.Proteins }}</th>
            <th>{{ totals.Fats }}</th>
            <th>{{ totals.Sodium }}</th>
            <th>{{ totals.Fiber }}</th>
            <th>{{ totals.Carbs }}</th>
            <th>{{ totals.Sugar }}</th>
        </tr>
        <tr>
            <th>Minimum</th>
            <th></th>
            <th>{{ requirement.Calories }}</th>
            <th>{{ requirement.Proteins }}</th>
            <th>{{ requirement.Fats }}</th>
            <th>{{ requirement.Sodium }}</th>
            <th>{{ requirement.Fiber }}</th>
            <th>{{ requirement.Carbs }}</th>
            <th>{{ requirement.Sugar }}</th>
        </tr>
        <tr>
            <th>Requirement met?</th>
            <th></th>
            <th class="{% if meets_requirements.Calories %}status-yes{% else %}status-no{% endif %}">
                {% if meets_requirements.Calories %}Yes{% else %}No{% endif %}
            </th>
            <th class="{% if meets_requirements.Proteins %}status-yes{% else %}status-no{% endif %}">
                {% if meets_requirements.Proteins %}Yes{% else %}No{% endif %}
            </th>
            <th class="{% if meets_requirements.Fats %}status-yes{% else %}status-no{% endif %}">
                {% if meets_requirements.Fats %}Yes{% else %}No{% endif %}
            </th>
            <th class="{% if meets_requirements.Sodium %}status-yes{% else %}status-no{% endif %}">
                {% if meets_requirements.Sodium %}Yes{% else %}No{% endif %}
            </th>
            <th class="{% if meets_requirements.Fiber %}status-yes{% else %}status-no{% endif %}">
                {% if meets_requirements.Fiber %}Yes{% else %}No{% endif %}
            </th>
            <th class="{% if meets_requirements.Carbs %}status-yes{% else %}status-no{% endif %}">
                {% if meets_requirements.Carbs %}Yes{% else %}No{% endif %}
            </th>
            <th class="{% if meets_requirements.Sugar %}status-yes{% else %}status-no{% endif %}">
                {% if meets_requirements.Sugar %}Yes{% else %}No{% endif %}
            </th>
        </tr>
    </tfoot>
</table>
<br>

<a href="{% url 'score' %}">
    <button type="button" class="btn custom-register-btn">Go Back</button>
</a>
<a href="{% url 'categorize' %}">
    <button class="button button3">Go Front</button>
    
</a>

<style>
    .button3 {background-color: #0057ba;} 

</style>
{% endblock %}
