{% extends "base.html" %}
{% block content %}
<h2>Welcome {{ name }}, Age: {{ age }}</h2>

<h3>Select Food Items:</h3>
<form id="inputForm" method="post" action="{% url 'compute' %}">
    {% csrf_token %}
    <div id="inputContainer">
        <div class="input-group">
            <label>Item:</label>
            <select name="item[]" required>
                <option value="">Select an item</option>
                {% for item in nutrition_items %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <label>Quantity (g):</label>
            <input type="number" name="quantity[]" required>
            <span class="add-button" onclick="addInput()">&#43;</span>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>

<script>
    function addInput() {
        const newInputGroup = document.createElement('div');
        newInputGroup.classList.add('input-group');
        newInputGroup.innerHTML = `
            <label>Item:</label>
            <select name="item[]" required>
                <option value="">Select an item</option>
                {% for item in nutrition_items %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <label>Quantity (g):</label>
            <input type="number" name="quantity[]" required>
            <span class="add-button" onclick="addInput()">&#43;</span>
        `;
        document.getElementById('inputContainer').appendChild(newInputGroup);
    }
</script>

<style>
    .input-group {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column; 
    }
    .add-button {
        cursor: pointer;
        color: rgb(255, 0, 0);
        margin-top: 10px;
        font-size: 24px;
    }
</style>
{% endblock %}
