{% extends "base.html" %}
{% block content %}
<h2>Welcome {{ name }}!</h2>

<h3>Welcome to our website!<br>
    <h4>Please check your Diet Score by inputing the items and quantity you have consumed in a day!</h4>

</h3>
<form id="inputForm" method="post" action="{% url 'compute' %}">
    {% csrf_token %}
    <h1>Select Food Items:</h1>
    <div id="inputContainer">
        <div class="input-group">
            <label>Item:</label>
            <select name="item[]" required>
                <option value="">Select an item</option>
                {% for item in nutrition_items %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <label>Quantity (g):</label>
            <!-- note need to include quantity in packets!!!!  -->
             <!-- note include packets quantity in tiffin in views.py also, next edit -->
            <input type="number" name="quantity[]" required>
            <span class="add-button" onclick="addInput()">&#43;</span>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>

<script>
    function addInput() {
        const newInputGroup = document.createElement('div');
        newInputGroup.classList.add('input-group');
        newInputGroup.innerHTML = `
            <label>Item:</label>
            <select name="item[]" required>
                <option value="">Select an item</option>
                {% for item in nutrition_items %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <label>Quantity (g):</label>
            <input type="number" name="quantity[]" required>
            <span class="add-button" onclick="addInput()">&#43;</span>
        `;
        document.getElementById('inputContainer').appendChild(newInputGroup);
    }
</script>

<style>
    .input-group {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column; 
        padding: 0px 0px;
    }
    .add-button {
        cursor: pointer;
        color: rgb(255, 255, 255);
        margin-top: 0px;
        font-size: 24px;
    }



</style>
{% endblock %}
