{% extends "base.html" %}
{% block content %}
    <h3>Quantities recommended for intake</h3>
    <table bgcolor="gray">
        <th>Item</th><th>Quantity (in g)</th><th>Image</th>
        {% for item, quantity in results %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ quantity|floatformat:2 }}</td>  <!-- Access quantity -->
            <td>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.item_name }}" style="width: 100px; height: 100px;">
                {% else %}
                    No image available
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'categorize' %}" class="btn-back">Tryout more suggestions</a>
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-success">Logout</button></a>
{% endblock %}
